<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= beer.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= beer.description %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= beer.brand %>
  </p>

  <p>
    <strong>Cl:</strong>
    <%= beer.cl %>
  </p>

</div>
