<p style="color: green"><%= notice %></p>

<%= render @beer %>

<div>
  <%= link_to "Edit this beer", edit_beer_path(@beer) %> |
  <%= link_to "Back to beers", beers_path %>

  <%= button_to "Destroy this beer", @beer, method: :delete %>
</div>

<% if @beer.notes.present? %>
  <p>Moyenne des notes: <%= @beer.notes.pluck(:value).sum / @beer.notes.size %></p>
<% end %>